

.weatherToday {
    position: absolute;
    bottom: 20px;

    width: 100%;
    height: 75vh;

    text-align: center;

    color: #E7E7EB;
}

.imgToday {
    width: 140px;
    margin-right:25px ;
}