

.weatherForcast {
    width: 120px;

    text-align: center;

    margin-right: 10px;
    padding: 10px;

    background-color: #1E213A;
}

.weatherForcast:nth-of-type(5) {
    margin-right: 0;
}

.imgInfo {
    width: 3rem;
}

.info {
    height: 3rem;
}