

.weatherForcast {
    width: 120px;

    text-align: center;

    margin-right: 10px;
    padding: 10px;

    color: white;
    background-color: #1E213A;
}

.imgInfo {
    width: 3rem;
}

.info {
    height: 3rem;
}