

.weatherHightlights {
  margin-top: 2rem;

  p {
    text-align: center;
  }
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 45rem;
  justify-content: center;
  margin: auto;
}